[api]
enabled = true
port = 54321

[db]
port = 54322
shadow_db_port = 54320

[studio]
enabled = true
port = 54323

[ingest]
enabled = false

[functions]
enabled = true

[auth]
enabled = true
site_url = "http://localhost:5173"
additional_redirect_urls = ["https://localhost:5173"]

[storage]
enabled = true
file_size_limit = "50MiB"

[edge_runtime]
enabled = true
port = 54324
policy = "per_request"
